.jumboBg {
	background-image: url('../../assets/Books.jpg');
	position: relative;
	opacity: .75;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 30vh;
}